# GenLayer RPC API URL
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api

# GenLayer Network Configuration
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Studio
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN

# Aidvocate Contract Address
NEXT_PUBLIC_CONTRACT_ADDRESS=0x71d82f5d73d08e1aFE25b5bfC4b10F75a3efeBb3

# Pinata IPFS Configuration
NEXT_PUBLIC_PINATA_JWT=your_pinata_jwt
NEXT_PUBLIC_PINATA_GATEWAY=gateway.pinata.cloud